<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
   "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
   "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">
		jdbc:mysql://192.168.178.21:3306/auto 
		<!-- jdbc:mysql://10.10.254.103:3306/auto -->
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">TDiabyGYsR</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
		<property name="current_session_context_class">thread
		</property>
		<property name="hibernate.transaction.factory_class">
			org.hibernate.transaction.JDBCTransactionFactory
		</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="de.gw.auto.domain.Benutzer" />
		<mapping class="de.gw.auto.domain.Auto" />
		<mapping class="de.gw.auto.domain.Benzinart" />
		<mapping class="de.gw.auto.domain.Land" />
		<mapping class="de.gw.auto.domain.Ort" />
		<mapping class="de.gw.auto.domain.SonstigeAusgaben" />
		<mapping class="de.gw.auto.domain.Tank" />
		<mapping class="de.gw.auto.domain.Tanken" />
		<mapping class="de.gw.auto.domain.Version" />
	</session-factory>
</hibernate-configuration>