<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<th:block th:include="fragments/headTag :: head" />
<title>Autoverwaltung - User</title>

<link rel="stylesheet" th:href="@{/wro/tanken.css}" type="text/css" />

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		var urlNewTanken = /*[[@{/user/tanken/new}]]*/;
		var urlNewSonstigeAusgaben = /*[[@{/user/sonstigeAusgaben/new}]]*/;
		var urlLaender = /*[[@{/user/json/orte(land='')}]]*/ '';
		var urlNewAuto = /*[[@{/user/auto/new}]]*/;
		var urlUpdateCurrent = /*[[@{/user/auto/updateCurrent}]]*/;
		var urlSaveTanken = /*[[@{/user/tanken/save}]]*/;
		var urlSaveTankenCancel = /*[[@{/user/tanken/show}]]*/;
		var urlSaveSonstigeAusgabenCancel = /*[[@{/user/sonstigeAusgaben/show}]]*/;
		var urlAddOrt = /*[[@{/user/tanken/addOrt}]]*/;
		var urlAddLand = /*[[@{/user/tanken/addLand}]]*/; 
		var urlDeleteTanken = /*[[@{/user/tanken/delete}]]*/;
	/*]]>*/
</script>

<script th:inline="javascript" th:src="@{/wro/main-page.js}" id="mainPageJS" ></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/wro/tanken.js}" id="tankenJS"></script>

</head>
<body>
	<div th:include="fragments/header :: header">header</div>
	<div class="container" id="UserMainPage">
		
		<a data-toggle="collapse" href="#collapse1" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<span>Auswertung</span>
					</h4>
				</div>
			</div>
		</a>	
		<div id="collapse1" class="panel-collapse collapse">
			<div th:include="tanken/aggregationView :: body">AggregationViewTable</div>
		</div>
		<div class="panel-group">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" id="tankfuellungenTab"
					href="#tankfuellungenTable"> Tankf&uuml;llungen </a></li>
				<li><a data-toggle="tab" id="sonstigeAusgabenTab" href="#sonstigeAusgabenTable">
						Sonstige Ausgaben </a></li>
			</ul>
			
			<div class="tab-content">
				<div id="tankfuellungenTable" class="tab-pane fade in active">
					<h1>
						Tankf&uuml;llungen 
					</h1>
					<br/>
					<a id="TankenAdd" class="btn btn-success"> 
						<span class="glyphicon glyphicon-plus"></span>
					 	<span class="hidden-xs"> Hinzuf&uuml;gen</span>
					</a>
					<a id="TankenDownload" class="btn btn-success" th:href="@{/user/tanken/downloadTanken}"> 
						<span class="glyphicon glyphicon-print glyphicon-list-alt"/>
						<span class="visible-xs glyphicon glyphicon-list-alt"/>
						<span class="hidden-xs"> Drucken</span>
					</a>
					<a id="TankenDownload" class="btn btn-success" th:href="@{/user/tanken/downloadEmptyTanken}"> 
						<span class="glyphicon glyphicon-print"></span>
						<span class="visible-xs glyphicon glyphicon-file"></span>
						<span class="hidden-xs">Drucke leere Tabelle</span>
					</a>
					
					<br />
					<div th:include="tanken/table :: tankenTable">TankenTable</div>
				</div>
				<div id="sonstigeAusgabenTable" class="tab-pane fade">
					<h1>
						Sonstige Ausgaben 
						<small>
							<a id="addSonstigeAusgaben" class="btn btn-success">
								<span class="glyphicon glyphicon-plus"></span> Hinzuf&uuml;gen
							</a>
						</small>
					</h1>
					<div th:include="sonstigeAusgaben/table :: sonstigeAusgabenTable">TankenTable</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>