<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<div class="container" th:fragment="tankenTable" id="tankenTable">
		<th:block th:object="${tankenView}">
			<div th:if="*{#lists.isEmpty(tankfuellungenView.getSource())}"
				id="tankenEmpty">
				<br/>
				<div class="alert alert-danger">
					<span class="glyphicon glyphicon-remove-sign"></span> noch keine
					Tankvorg&auml;nge vorhanden, bitte f&uuml;gen Sie minderstens einen hinzu!
				</div>
			</div>
			<div th:if="*{not #lists.isEmpty(tankfuellungenView.getSource())}"
				id="tankenNotEmpty">
				<div class="list-group">
					<ul class="pagination" th:with="maxCount=*{tankfuellungenView.getPageCount()}, currentPage=*{tankfuellungenView.getPage()}">
						<li>
							<a th:href="@{/user/show(page=0)}" class="btn btn-default" th:classappend="*{tankfuellungenView.isFirstPage()?'disabled':''}">&lt;&lt;</a>
						</li>
						<li>
							<a th:href="@{/user/show(page=${currentPage}-1)}" class="btn btn-default" th:classappend="*{tankfuellungenView.isFirstPage()?'disabled':''}">&lt;</a>
						</li>
						<th:block>
							<li th:each="number : *{#numbers.sequence(tankfuellungenView.getFirstLinkedPage()+1,tankfuellungenView.getLastLinkedPage()+1)}" th:class="${number}==${currentPage}+1?'active':''">
								<a th:text="${number}" th:href="@{/user/show(page=${number-1})}">1</a>
							</li>
						</th:block>
						<li>
							<a th:href="@{/user/show(page=${currentPage}+1)}" class="btn btn-default" th:classappend="*{tankfuellungenView.isLastPage()?'disabled':''}">&gt;</a>
						</li>
						<li>
							<a th:href="@{/user/show(page=*{tankfuellungenView.getPageCount()}-1)}" class="btn btn-default" th:classappend="*{tankfuellungenView.isLastPage()?'disabled':''}">&gt;&gt;</a>
						</li>
					</ul>
					<div th:each="tankenModel : *{tankfuellungenView.pageList}"
						class="list-group-item col-sm-12"
						th:classappend="|list-group-item-${tankenModel.cssStyleRow}|">
						<dl class="dl-horizontal">
							<div class="col-sm-3">
								<dt>Datum</dt>
								<dd th:text="${#dates.format(tankenModel.datum,'dd.MM.yyyy')}">12.12.2015</dd>
							</div>
							<div class="col-sm-3">
								<dt>Preis pro Liter</dt>
								<dd
									th:text="${#numbers.formatDecimal(tankenModel.preisProLiter,1,3,'COMMA')}+ &euro;">1.689
									&euro;</dd>
								<dt>Kosten</dt>
								<dd
									th:text="${#numbers.formatDecimal(tankenModel.kosten,2,2,'COMMA')} + &euro;">32.45
									&euro;</dd>
								<dt>&Oslash;-verbrauch auf 100km</dt>
								<dd
									th:text="${#numbers.formatDecimal(tankenModel.getVerbrauch100Km(),1,2,'COMMA')} + ' l'">
									4.35 l</dd>
							</div>
							<div class="col-sm-3">
								<dt>Liter</dt>
								<dd
									th:text="${#numbers.formatDecimal(tankenModel.liter,1,2,'COMMA')} + ' l'">10.30
									l</dd>
								<dt>Km-Stand</dt>
								<dd th:text="${tankenModel.kmStand} + ' Km'"
									style="width: 80px !important">168543 Km</dd>
								<dt>gefahren</dt>
								<dd
									th:text="${#numbers.formatInteger(tankenModel.getGefahreneKm(),3)} + ' Km'">460
									km</dd>
							</div>
							<div class="col-sm-3">
								<a name="TankenDelete" class="btn btn-danger pull-right" data-toggle="tooltip" th:attr="data-dbid=${tankenModel.id}" data-placement="top" title="Löschen"> 
									<span class="glyphicon glyphicon-trash"/>
								</a>
							</div>
							<div class="col-sm-12 text-center">
								<strong>Adresse</strong>
								<span	th:text="|${tankenModel.ort == null ? 'keine Angabe' : tankenModel.ort}, ${tankenModel.land}|">Muenchen, Deutschland</span>
							</div>
						</dl>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</body>
</html>