<!DOCTYPE html>
<html>
	<head>
		<div th:fragment="head">
		   <!-- minimierte CSS -->
			<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" />
			<!-- Optionales Theme -->
			<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css}" />
			<!--  minimierte JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		</div>	
	</head>
  <body>
  </body>
</html>