<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

 <!-- minimierte CSS  -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
 <!-- Optionales Theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
 <!-- JQuerry min.js -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Min bootstrap js -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link th:href="@{/css/datepicker.css}" rel="stylesheet" />

<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.de.min.js}"/>     

<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"/> 
</head>
<body>
</body>
</html>