<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<th:block th:include="fragments/headTag :: head" />
<script type="text/javascript">
	// When the document is ready
	$(document).ready(function() {

		$('#inputKaufDatum').datepicker({
			format : "dd.mm.yyyy"
		});
		$('#inputErstZulassungDatum').datepicker({
			format : "dd.mm.yyyy"
		});
	});
</script>


<title>Autoverwaltung - Neues Auto</title>

</head>
<body>
	<div class="container">
		<h2>Es ist noch kein Auto Vorhanden, bitte fügen sie eines hinzu:</h2>
		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
			data-target="#newAutoModel">Auto Hinzuf&uuml;gen</button>

		<!-- Modal -->
		<div th:fragment="newAutoModal1">
			<div class="modal fade" id="newAutoModel" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Neues Auto</h4>
						</div>
						<form class="form-horizontal" role="form" th:object="${autoModel}"
							th:action="@{/user/auto/save}" th:method="post">
							<div class="modal-body">
								<div class="row">
									<div class="col-sm-1"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Kennzeichen</label>
										<div class="col-sm-6">
											<input class="form-control" id="kfzInput" type="text"
												th:field="*{kfz}" required="required" />
										</div>
									</div>
									<div class='control-group col-sm-6'>
										<label for="inputKaufDatum" class="control-label">Kaufdatum</label>
										<div class="controls">
											<div class="input-group">
												<input type="text" id="inputKaufDatum" th:field="*{kauf}"
													class="date-picker form-control" /> <label
													for="inputKaufDatum" class="input-group-addon btn"><span
													class="glyphicon glyphicon-calendar"></span> </label>
											</div>
										</div>
									</div>
									<div class='control-group col-sm-6'>
										<label for="inputErstZulassungDatum" class="control-label">Erstzulassungsdatum</label>
										<div class="controls">
											<div class="input-group">
												<input type="text" id="inputErstZulassungDatum"
													th:field="*{erstZulassung}"
													class="date-picker form-control" /> <label
													for="inputErstZulassungDatum" class="input-group-addon btn"><span
													class="glyphicon glyphicon-calendar"></span> </label>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="control-group">
											<label class="control-label">Kilometerstand beim Kauf</label>
											<div class="input-group">
												<input class="form-control" id="kmInput" type="text"
													th:field="*{kmKauf}" maxlength="6" max="999999"
													pattern="[0-9]{1,6}" /> <label for="kmInput"
													class="input-group-addon"> <span class="glyphicon">Km</span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="control-group">
											<label class="control-label">Akteller Kilomenterstand</label>
											<div class="input-group">
												<input class="form-control" id="aktKmInput" type="text"
													th:field="*{kmAktuell}" maxlength="6" max="999999" size="3"
													pattern="\d{1,6}" /> <label for="aktKmInput"
													class="input-group-addon"> <span class="glyphicon">Km</span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="control-group">
											<label class="control-label">Kilomenterstand bei
												beginn der Datenerfassung</label>
											<div class="input-group">
												<input class="form-control" id="startKmInput" type="text"
													th:field="*{kmStart}" maxlength="6" max="999999" size="3"
													pattern="\d{1,6}" /> <label for="startKmInput"
													class="input-group-addon"> <span class="glyphicon">Km</span>
												</label>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="control-group">
											<label for="selectBenzinart">Kraftstoffart</label>
											<div class="input-group">
												<select class="form-control" th:field="*{userKraftstoffart}"
													id="selectBenzinarten">
													<option
														th:each="kraftstoffart : ${autoModel.kraftstoffarten}"
														th:value="${kraftstoffart.id}"
														th:text="${kraftstoffart.name}">Kraftstoffarten</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-dismiss="modal">Schlie&szlig;en</button>
								<button type="submit " id="btnSave" class="btn btn-primary">Speichern</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>